# Damien Dart's global Git configuration file.
#
# This file was written by Damien Dart, <damiendart@pobox.com>. This is
# free and unencumbered software released into the public domain. For
# more information, please refer to the accompanying "UNLICENCE" file.

[alias]
  # Based on <https://carolynvanslyck.com/blog/2020/12/git-wip/>.
  branch-freshness = for-each-ref --sort='-authordate:iso8601' --format='%(color:green)%(authordate:relative)%09%(color:reset)%(refname:short)%(HEAD)' refs/heads
  # Based on <https://seb.jambor.dev/posts/improving-shell-workflows-with-fzf/>.
  fuzzy-checkout = !git for-each-ref --format='%(refname:short)' | xargs -0I{} echo \"{}HEAD\" | sort | fzf --preview=\"git log {} --\" | xargs git checkout
  last-commit-hash = log -n 1 --format=format:"%H"
[core]
  excludesfile = ~/.gitignore
[user]
  email = damiendart@pobox.com
  name = Damien Dart
[include]
  path =~/.machine.gitconfig
